*.class

# Package Files #
*.jar
*.war

# except the following #
!raphaelgwt-r42.jar
!smartgwt.jar
!smartgwt-skins.jar
!org.moxieapps.gwt.uploader-1.1.0.jar
!org.moxieapps.gwt.highcharts-1.5.0.jar
!gwt-charts-0.9.9.jar

# gwt caches and compiled units #
war/loni_pipeline_server_terminal/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

# test dir #
test-classes/

# Eclipse settings #
.settings/

# GWT logs #
.gwt
