*.class

# Package Files #
*.jar
*.war

# except the following #
!raphaelgwt-r42.jar
!smartgwt.jar
!smartgwt-skins.jar
!org.moxieapps.gwt.uploader-1.1.0.jar
!org.moxieapps.gwt.highcharts-1.5.0.jar
!gwt-charts-0.9.9.jar
!commons-fileupload-1.3.jar
!commons-io-2.4.jar
!json-lib-2.4-jdk15.jar
!xom-1.2.9.jar
!commons-lang-2.6.jar
!commons-logging-1.1.2.jar
!ezmorph-1.0.6.jar
!commons-collections-3.2.1.jar
!commons-beanutils-1.8.3.jar
!commons-validator-1.3.1.jar

# gwt caches and compiled units #
war/loni_pipeline_server_terminal/
!war/loni_pipeline_server_terminal/resources/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/
war/WEB-INF/appengine-generated/

# test dir #
test-classes/

# Eclipse settings #
.settings/

# GWT logs #
.gwt
