<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <!--
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>edu.ucla.loni.pipeline.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/loni_pipeline_server_terminal/greet</url-pattern>
  </servlet-mapping>
  -->

  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>edu.ucla.loni.pipeline.server.FileUploadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LONI_Pipeline_Server_Terminal.html</welcome-file>
  </welcome-file-list>

</web-app>
