<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>XMLDataServlet</servlet-name>
    <servlet-class>edu.ucla.loni.pipeline.server.Requesters.Depreciated.XMLDataServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>XMLDataServlet</servlet-name>
    <url-pattern>/XMLDataServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>edu.ucla.loni.pipeline.server.Upload.Uploaders.FileUploadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RequestConfigurationXMLServlet</servlet-name>
    <servlet-class>edu.ucla.loni.pipeline.server.Requesters.Configuration.RequestConfigurationXMLServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RequestConfigurationXMLServlet</servlet-name>
    <url-pattern>/RequestConfigurationXMLServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RequestResourceXMLServlet</servlet-name>
    <servlet-class>edu.ucla.loni.pipeline.server.Requesters.ResourceUsage.RequestResourceXMLServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>RequestResourceXMLServlet</servlet-name>
    <url-pattern>/RequestResourceXMLServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SaveConfigurationXMLServlet</servlet-name>
    <servlet-class>edu.ucla.loni.pipeline.server.Savers.Configuration.SaveConfigurationXMLServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SaveConfigurationXMLServlet</servlet-name>
    <url-pattern>/SaveConfigurationXMLServlet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LONI_Pipeline_Server_Terminal.html</welcome-file>
  </welcome-file-list>

</web-app>
