/** Add css rules here for your application. */
/* .dropFilesLabel {
  background-image: url("./loni_pipeline_server_terminal/resources/drop01.png"); !important;
  height: 75px;
  width: 75px;
} */

.dropFilesLabel {
    border: 3px dashed #B0B0B0;
    float: left;
    color: #B0B0B0;
    height: 40px;
/*     margin: 20px; */
    font-weight: bold;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 70px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.dropFilesLabelHover {
    border: 3px solid #000000;
    color: #000000;
}

/* .dropFilesLabelHover {
  background-image: url("./loni_pipeline_server_terminal/resources/drop02.png"); !important;
  height: 75px;
  width: 75px;
} */

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
